@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --x3: 13px;
}

body {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
  /*隐藏滚动条*/
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --x3: 12px;
  }
}

.text_vw_30 {
  font-size: 3vw;
}

.text_vw_15 {
  font-size: 1.5vw;
}

.pt--1 {
  margin-top: -15%;
}

.bg-blue {
  background-color: #d3e5ef;
}

.p-2calc {
  padding: 2px var(--x3);
}

.row-3 {
  grid-row: 3;
}

.row-2 {
  grid-row: span 2;
}

.grid-row-121 {
  grid-template-rows: 1fr 2fr 1fr;
}



/* 主页图文排版布局 */
.m_photo_text {
  display: flex;
}

.m_photo_text .m_text {
  flex
}