:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
p{
  width: 60px;
  height: 20px;
}
.div-margin{
  margin-left: 5%;
  margin-right: 5%;
}
.h1-word-break{
  width: 25%;
  word-break: break-all;
}
.temp{
  display: flex;
  color: rgb(0, 136, 255);
}
.tags{
  display: grid;
  background-color:#f5e0e9;
  color:#482d21;
  border-radius: 5px;      
  width: 60px;      
  height: 20px;  
  text-align: center;
  align-content: center;
}