:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* display: flex; */

}

body {
  margin: 0;
  padding: 0;
}

/* @keyframes identifier {
  from {
    transform: scale(0.1) translateX(0);
  }

  to {
    transform: scale(1) translateX(100);
  }
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.flex {
  display: flex;
}

.header {
  width: 100%;
  height: 65px;
  color: rgb(255, 255, 255);
  background-color: #c3d7df;
}

.title {
  margin-left: 30px;
}

/* p {
  width: 60px;
  height: 20px;
} */

.div-margin {
  margin-top: 80px;
  /* margin-bottom: 80px; */
  margin-left: 5%;
  margin-right: 5%;
}

.h1-word-break {
  width: 25%;
  word-break: break-all;
  align-items: center;
  /* animation: identifier 2s ease 1s; */
}



.tags {
  display: grid;
  background-color: #f5e0e9;
  color: #482d21;
  border-radius: 5px;
  width: 60px;
  height: 20px;
  text-align: center;
  align-content: center;
}

.avatar {
  display: block;
  position: static;
  width: 50%;
  height: 50%;
  margin-left: 20%;
  overflow: hidden;
}

.avatar img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.line {
  width: 7px;
  height: 35px;
  line-height: 20px;
  margin-right: 10px;
  vertical-align: top;
  border-top: 35px solid black;
}

.align-Center {
  align-items: center;
}
.Notice-Cover{
  height: 40%;
  width: 40%;
}