:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* display: flex; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.flex {
  display: flex;
}

.header {
  width: 100%;
  height: 60px;
  background-color: #f5e0e9;
}

p {
  width: 60px;
  height: 20px;
}

.div-margin {
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
}

.h1-word-break {
  width: 25%;
  word-break: break-all;
  align-items: center;
}

.temp {
  width: 100%;
  height: 60px;
  color: rgb(0, 136, 255);
}

.tags {
  display: grid;
  background-color: #f5e0e9;
  color: #482d21;
  border-radius: 5px;
  width: 60px;
  height: 20px;
  text-align: center;
  align-content: center;
}

.avatar {
  display: block;
  position: static;
  width: 50%;
  height: 50%;
  margin-left: 20%;
}

.line {
  width: 7px;
  height: 35px;
  line-height: 20px;
  margin-right: 10px;
  vertical-align: top;
  border-top: 35px solid black;
}

.align-Center {
  align-items: center;
}